body {
								font-family: Arial,sans-serif;
								display:flex ;
								margin: 0;
								align-itens: center;
								justify-content: center;
								place-items: center;
								padding: 20px;
								background-color: #ddd;
								

}

h1 {
								color: #333;
								text-aling: center;
}

p {
								line-height: 1.6;
								color: #666;

}

.container {
								place-items: center;
								box-shadow: 0 0 4px 8px rgba(0,0,0,0.2);
								background-color: #fff;
								padding: 20px 30px;
								border-radius: 15px;
								height: auto;
								width: 80VW;
}

form {
								padding: 20px;
								border-radius:8px;
								text-align: center;
}

textarea, input {
								width: 100%;
								padding: 8px;
								margin:8px 0;
								border: 1px solid #ddd;
								border-radius: 4px;

}

button{
								background-color: #4CAF50; 
								color: #fff; 
								padding: 10px 20px;
								border: none;
								border-radius: 4px;
								cursor: pointer;
								
}


